#container{
    height: 385px;
    width: 575px;
    display: flex;
    justify-content: space-around;
    background: #1b244a;
}
.teams {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.score {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    color: #F94F6D;
    background-color: #080001;
    text-align: center;

}
h1 {
    width: 149px;
    height: 36px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    color: #EEEEEE;


}
#points {
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
}